body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  position: relative;
  box-sizing: border-box;
}

.main-nav {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
  display: flex;
}

.main-nav .logo {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 44%;
}

.main-nav ul {
  margin: 0;
  padding: 10px 5%;

  width: 100%;
  list-style: none;
}

.main-nav li {
  margin: 0;
  margin-right: 7%;
  padding: 0;

  width: 120px;
  float: left;
}

.main-nav li:nth-child(even) {
  text-align: right;
  float: right;
  margin-left: 7%;
  margin-right: 0;
}

.main-nav a {
  font: inherit;
}

.main-nav a:hover {
  color: #81b3d2;
}

.main-nav a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-nav a.current {
  color: #766357;
  pointer-events: none;
}

/* ГЛАВНОЕ ФОТО СТРАНИЦЫ */
.sedona-view {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 510px;
  background-image: url("../img/sedona-view.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 75px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.welcome {
  background-image: url("../img/welcome.png");
  width: 459px;
  height: 353px;
  margin: 0 auto;
  padding: 0;
}

/* КВАДРАТИКИ */
.features-text {
  margin: 0 auto;
  width: 566px;
  padding: 0 10px;
  text-align: center;
  box-sizing: border-box;

  border: 1px solid red;
}

.features-text .caption {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.features-text p {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  font-size: 14px;
  line-height: 26px;
}

.features-list {
  margin: 0;
  padding: 0;

  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.features-item,
.features-item div.blue {
  margin: 0;
  text-align: center;
  min-height: 255px;
  width: 33.33%;
  box-sizing: border-box;
  border: 1px solid red;

  padding-top: 45px;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 40px;
}

.features-item h3 {
  margin: 0;
  padding: 0;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.features-item p {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 21px;
  border: 1px solid red;
}

.features-item-blue {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  width: 100%;
}

.features-item-blue h3 {
  color: #ffffff;
}

.features-item div.blue {
  background-color: #81b3d2;
  color: #ffffff;
}

.img-accomodation {
  background-image: url("../img/accomodation.jpg");
  width: 66.67%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img-canyon {
  background-image: url("../img/canyon.jpg");
  width: 66.67%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.features-item-blue:first-of-type {
  order: -2;
}

.middle {
  order: -1;
}

/* ЗАИНТЕРЕСОВАЛИСЬ? ФОРМА БРОНИ */

.text-box {
  margin: 0 auto;
  padding: 0;

  text-align: center;
  width: 566px;

  border: 1px solid red;
}

.text-box h3 {
  margin: 0;
  padding: 0;

  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.text-box p {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 24px;
}

.date {
  margin: 0 auto;
  padding: 0;

  width: 566px;
}

/* ПОДВАЛЬЧЕГ */
footer {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255,255,2550.7);
}

.social {
  list-style: none;
  display: flex;
}
.social li{
  margin: 4px;
}
.social li:nth-child(3n){
  margin-right: 0;
}
.link-academy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border: 1px solid red;
}

/* ФИЛЬТРЫ */
.filters {
  margin: 0;
  padding: 0 4%;

  background-image: url("../img/filter-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  color: #ffffff;
}

.filter {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.filter fieldset {
  margin: 30px 0;
  margin-right: 10%;
  border: none;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter ul {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 14px;
  line-height: 21px;
}
.filter li{
  margin-top: 25px;
}
.filter-input:hover + label,
.filter-input:focus + label {
  color: #ffffff;
}

.filter-input:disabled + label {
  color: rgba(255, 255, 255, 0.35);
}
.filter div.right{
  margin: 30px 0;
  margin-left: auto;
}
.filter button{
  margin: 0;
  padding: 0;

  width: 138px;
  height: 38px;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  text-transform: uppercase;
}
.filter button:hover,
.filter button:active{
  background-color: #ffffff;
  color: rgba(0,0,0,1);
}
.sort-results{
  margin: 0;
  padding: 35px 5%;
  display: flex;
}
.sort-results .caption{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  margin-right: 45px;
}
.sort-results p{
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  margin-right: 38px;
}
.sort-results ul{
  margin: 0;
  padding: 0;

  list-style: none;
  display: flex;
  align-items: flex-end;
}
.sort-results li{
  margin-right: 34px;
}
.sort-results a{
  font-size: 12px;
  line-height: 18px;
  color: rgba(0,0,0,0.3);
  border-bottom: 1px dotted #81b3d2;
}
.sort-results a:hover{
  color: #81b3d2;
}
.sort-results a:active{
  color: #000000;
  border: none;
}
.sort-results a.current{
  color: #81b3d2;
  border: none;
}
/* ОФОРМЛЕНИЕ "КАРТОЧЕК" ОТЕЛЕЙ */
.accomodation-preview{
  margin: 0;
  padding: 30px 5%;
  display: flex;
  border-top: 1px solid #e5e5e5;
}
.accomodation-preview:last-of-type{
  border-bottom: 1px solid #e5e5e5;
}
.accomodation-preview img{
  margin: 0;
  padding: 0;
  padding-right: 30px;
}
.accomodation-preview .ap-column{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.accomodation-preview .ap-column:last-of-type{
  margin-left: auto;
}
.accomodation-preview h3{
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.accomodation-preview .caption-link:hover{
  color: #81b3d2;
}
.accomodation-preview .caption-link:active{
  color: rgba(0,0,0,0.3);
}




/* КНОПОЩКИ */

.button{
  margin: 0;
  padding: 5px 17px;

  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}
.button-blue{
  background-color: #81b3d2;
}
.button-brown{
  background-color: #766357;
}
.button-blue:hover{
  background-color: #669ec0;
}
.button-blue:active{
  background-color: #5496bd;
  color: rgba(255,255,255,0.3);
}
.button-brown:hover{
  background-color: #604e43;
}
.button-brown:active{
  background-color: #503e33;
  color: rgba(255,255,255,0.3);
}
