body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  position: relative;
  box-sizing: border-box;
}

.main-nav {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.main-nav .logo {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: -70px;
}

.main-nav ul {
  margin: 0;
  padding: 15px 0;

  width: 40%;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-around;
}

.main-nav .left {
  text-align: left;
}

.main-nav .right {
  text-align: right;
}

.main-nav .middle-link {
  position: relative;
}

.main-nav a {
  font: inherit;
}

.main-nav a:hover {
  color: #81b3d2;
}

.main-nav a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-nav a.current {
  color: #766357;
  pointer-events: none;
}

/* ГЛАВНОЕ ФОТО СТРАНИЦЫ */
.sedona-view {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 510px;
  background-image: url("../img/sedona-view.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 75px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.welcome {
  background-image: url("../img/welcome.png");
  width: 459px;
  height: 353px;
  margin: 0 auto;
  padding: 0;
}

/* КВАДРАТИКИ */
.features-text {
  margin: 0 auto;
  width: 566px;
  padding: 57px 0 51px;
  text-align: center;
  box-sizing: border-box;
}

.features-text .caption {
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.features-text p {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  font-size: 14px;
  line-height: 26px;
}

.features-list {
  margin: 0;
  padding: 0;

  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.features-item,
.features-item div.blue {
  margin: 0;
  text-align: center;
  min-height: 256px;
  width: 33.33%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 45px 4% 40px;
}

.features-item {
  padding: 45px 6% 40px;
  background-color: #f2f2f2;
}

.features-item h3 {
  margin: 0 auto;
  padding: 0;
  width: 160px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.feature-number {
  /*
  padding: 23px 0 17px;
  */
  padding: 0;
  padding-top: 23px;
}

.features-item p {
  margin: 0 auto;
  margin-top: 20px;
  padding: 0;

  font-size: 14px;
  line-height: 21px;
}

.features-item-blue {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  width: 100%;
}

.features-item-blue h3 {
  color: #ffffff;
}

.features-item div.blue {
  background-color: #81b3d2;
  color: #ffffff;
}

.features-item-middle {
  margin-top: 73px;
  padding-left: 4.8%;
  padding-right: 4.8%;

  background-color: #ffffff;
}

.features-item-middle h3 {
  position: relative;
  margin-top: 40px;
  margin-bottom: 5px;
}

.features-item-middle h3::after {
  content: "";

  position: absolute;
  top: -102px;
  left: 25%;
  width: 80px;
  height: 80px;
}

.pic-house h3::after {
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.pic-burger h3::after {
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: center;

}

.pic-present h3::after {
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: -105px;

}

.img-accomodation {
  background-image: url("../img/accomodation.jpg");
  width: 66.67%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img-canyon {
  background-image: url("../img/canyon.jpg");
  width: 66.67%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.features-item-blue:first-of-type {
  order: -2;
}

.middle {
  order: -1;
}

/* ЗАИНТЕРЕСОВАЛИСЬ? ФОРМА БРОНИ */

.text-box {
  margin: 0 auto;
  padding: 0;

  text-align: center;
  width: 566px;
  position: relative;
}

.text-box h3 {
  margin: 0;
  padding: 0;
  margin-top: 52px;

  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.text-box p {
  margin: 0;
  padding: 0;
  padding-top: 24px;

  font-size: 14px;
  line-height: 24px;
}

.button-date-search {
  margin: 0;
  margin-top: 45px;
  padding: 30px 0;
  width: 100%;
  border: none;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.date-form {
  position: absolute;
  top: 238px;
  right: 0;
  margin: 0;
  padding: 52px 45px 45px;
  width: 566px;
  box-sizing: border-box;
  background-color: #ffffff;
  z-index: 4;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.date {
  margin: 0;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.date .row {
  margin: 0;
  margin-bottom: 29px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  position: relative;
}

.date label {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.date input {
  margin: 0;
  padding: 7px 12px;
  width: 345px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  background-color: #f2f2f2;
  position: relative;
  border: 2px solid #f2f2f2;
  box-sizing: border-box;
}

.date input::placeholder {
  color: #000000;
  opacity: 1;
  text-transform: uppercase;
}

.date input:hover {
  border-color: #ebebeb;
  background-color: #ebebeb;
}

.date input:focus {
  border-color: #ebebeb;
  background-color: #ffffff;
}

.calendar {
  position: absolute;
  top: 7px;
  right: 7px;
}

.calendar path {
  fill: #a9a9a9;
}

.calendar:hover path {
  fill: #000000;
}

.calendar:active path {
  fill: #81b3d2;
}

.half-row {
  height: 38px;
  display: flex;
  align-items: baseline;
}

.half-row input {
  margin: 0;
  width: 40px;
  height: 38px;
  background-color: #f2f2f2;
  border: none;
  text-align: center;
}

.half-row:first-child label {
  margin-right: 40px;
}

.half-row label {
  margin-right: 27px;
}

.btn {
  margin: 0;
  padding: 0;
  width: 39px;
  height: 38px;
  background-color: #f2f2f2;
  border: none;
  align-self: center;
  position: relative;
}

.half-row:last-child .plus {
  width: 37px;
}

.minus::before {
  content: "";

  position: absolute;
  top: 18px;
  left: 13px;

  width: 12px;
  height: 2px;

  background-color: #a9a9a9;
}

.plus::before,
.plus::after {
  content: "";

  position: absolute;
  top: 18px;
  left: 13px;

  width: 12px;
  height: 2px;

  background-color: #a9a9a9;
}

.plus::after {
  transform: rotate(90deg);
}

.btn:hover {
  background-color: #ebebeb;
}

.btn:active {
  background-color: #ffffff;
}

.minus:hover:before,
.plus:hover:before,
.plus:hover:after {
  background-color: #000000;
}

.minus:active:before,
.plus:active:before,
.plus:active:after {
  background-color: #81b3d2;
}

.date-search-submit {
  margin: 0;
  margin-top: 54px;
  padding: 16px 0 17px;
  width: 100%;
  border: none;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.minus {
  margin-right: -4px;
}
.date-animate{
  animation: bounce 1.5s;
}
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }


  100% {
    transform: translateY(0);
  }
}

.map {
  position: relative;
}

.map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}

.map iframe {
  position: relative;
  z-index: 2;

  border: none;
}

/* ПОДВАЛЬЧЕГ */
footer {
  margin: 0 8%;
  padding: 0;

  min-height: 120px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
}

.index-footer {
  margin: 0;
  padding: 0 8%;

  box-sizing: border-box;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

footer .caption {
  width: 150px;
  margin-left: 36px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.social {
  width: 160px;
  margin-left: -14px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.social li {
  margin: 0;
  margin-right: 7px;
  margin-top: 3px;
  /*
    text-align: center;*/
}

.social li:nth-child(3n) {
  margin-right: 0;
}

.social-btn {
  width: 45px;
  height: 48px;
  background-color: #81b3d2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-btn a {
  margin-top: 7px;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active path {
  fill: #88b6d1;
}

.social-btn:active {
  background-color: #5496bd;
}

.link-academy {
  width: 200px;
  margin-right: 2px;
  margin-top: 2px;
  font-size: 14px;
  line-height: 26px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.link-academy a {
  padding-left: 9px;
}

.link-academy svg {
  margin-top: 7px;
}

.link-academy a:hover path {
  fill: #81b3d2;
}

.link-academy a:active path {
  fill: #bdbbbc;
}

/* ФИЛЬТРЫ */
.filters {
  margin: 0;
  padding: 0 5.2%;

  background-image: url("../img/filter-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  color: #ffffff;
}

.filter {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.filter fieldset {
  margin: 0;
  margin-top: 27px;
  margin-right: 8.7%;
  border: none;
}

.filter legend {
  margin: 0;
  margin-bottom: 21px;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter ul {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 14px;
  line-height: 21px;
}

.filter li {
  margin-bottom: 25px;
  padding-left: 40px;
  position: relative;
}

.filter li:last-child {
  margin-bottom: 22px;
}

.filter-input-checkbox + label::before {
  content: "";

  position: absolute;
  top: -1px;
  left: 0;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::before {
  content: "";

  position: absolute;
  top: -1px;
  left: 0;

  width: 27px;
  height: 27px;

  background-image: url("../img/checkbox-on.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #ffffff;
}

.filter-input:disabled + label {
  color: rgba(255, 255, 255, 0.35);
}

.filter div.filter-right {
  margin-bottom: 0;
  margin-top: 27px;
  margin-left: auto;
  margin-right: 8px;
  padding: 0;

  display: flex;
  flex-direction: column;
  width: 29.7%
}

.filter-range {
  width: 100%;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  padding-left: 3px;

  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 34px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;

  display: flex;
  justify-content: flex-start;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 21px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price {
  width: 30%;
  margin-left: 20%;
  margin-right: 17%;
}

.price-controls .max-price {
  width: 30%;
}

.price-controls input {
  width: 50%;
  margin: 0;
  margin-top: 6px;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  margin: 0;
  margin-left: 26%;
  padding: 0;
  width: 138px;
  height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-transparent:hover,
.btn-transparent:active {
  background-color: #ffffff;
  color: #000000;
}

.sort-results {
  margin: 0;
  padding: 29px 6%;
  display: flex;
  align-items: baseline;
}

.sort-results .caption {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  margin-right: 48px;
}

.sort-results p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  margin-right: 40px;
}

.sort-results ul {
  margin: 0;
  padding: 0;

  list-style: none;
  display: flex;
  align-items: flex-end;
}

.sort-results li {
  margin-right: 34px;
}

.sort-results li:first-child {
  margin-right: 32px;
}

.sort-results a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sort-results a:hover {
  color: #81b3d2;
}

.sort-results a:active {
  color: #000000;
  border: none;
}

.sort-results a.current {
  color: #81b3d2;
  border: none;
}

.arrows-container {
  margin-left: auto;
}

.arrows-container a {
  border-bottom: none;
  margin-left: 10px;
}

.arrow:hover path {
  fill: #000000;
}

.current-arrow path,
.arrow:active path {
  fill: #81b3d2;
}

/* ОФОРМЛЕНИЕ "КАРТОЧЕК" ОТЕЛЕЙ */
.accomodation-preview {
  margin: 0;
  padding: 30px 6% 28px;
  display: flex;
  border-top: 1px solid #e5e5e5;
}

.accomodation-preview:last-of-type {
  border-bottom: 1px solid #e5e5e5;
}

.accomodation-preview img {
  margin: 0;
  padding: 0;
  padding-right: 27px;
}

.accomodation-preview .ap-column {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.accomodation-preview .ap-column:last-of-type {
  margin-left: auto;
}

.accomodation-preview h3 {
  margin: 0;
  margin-top: -7px;
  margin-left: 4px;
  margin-bottom: 5px;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.accomodation-preview .caption-link:hover {
  color: #81b3d2;
}

.accomodation-preview .caption-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.ap-column-table tr:first-child td {
  border-bottom: 9px solid transparent;
}

.ap-column-table td {
  padding-right: 3px;
}

.stars {
  text-align: right;
}

.stars object {
  margin-left: 2px;
}

.rate {
  margin-top: auto;
  background-color: #f2f2f2;
  padding: 2px 13px;
}

/* КНОПОЩКИ */

.button {
  margin: 0;
  padding: 5px 17px;

  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
}

.button-blue {
  background-color: #81b3d2;
}

.button-brown {
  background-color: #766357;
}

.button-blue:hover {
  background-color: #669ec0;
}

.button-blue:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button-brown:hover {
  background-color: #604e43;
}

.button-brown:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}




